<% if user_signed_in? %>
	<%= render "pages/dashboard" %>
<% else %> 
	<div class="home-bg">
		<div class="container">
			<div class="content">
				<div class="tagline">
					<h2>Because who doesn't want <span class="heavy">more</span> Instagram <span class="heavy">followers</span>?</h2>
				</div>
				<div class="instagram-connect">
					<%= link_to "<i class='icon-instagram'></i> Login with Instagram".html_safe, user_omniauth_authorize_path(:instagram), :class => "btn btn-default" %>
				</div>
				<div class="copy">
					<p>Connect with Instagram to gain followers daily.</p>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$('.home-bg').blurjs({
	      source: '.home-bg',
	      radius: 10,
	      overlay: 'rgba(0,0,0,0.15)',
	      cache: true
	    });
	</script>
<% end %>